<section class="jumbotron card-color">
{{> post-info post}}


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-light">Add Comment</button>
  </div>
</form>
{{/if}}


{{> comments post.comments}}

</section>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}